{% load static %}
{%comment %} navbar.html defines a navbar using a boostrap css framework that will be used for every page of our website {% endcomment%}
<nav class="navbar sticky-top navbar-expand-lg bg-light navbar-light" style = "border-bottom: 3px solid black">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "index" %}"> Home </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class = "nav-item">
            <a class="nav-link">{% now "DATETIME_FORMAT" %} </a>
          </li>
        </ul>
        <div class="d-flex text-secondary" style = "left: 20px">
          
            {% if user.is_authenticated %}
              <a class="btn btn-success" href="{% url "logout" %}"> Logout </a>
            {% else %}
              <a class = "btn btn-success" href="{% url 'login' %}">Login </a>
            {% endif %} 
        </div>
      </div>
    </div>
  </nav>